

{% extends 'layout.html' %}


{% block content %}



    <div class="content-section">
        <form method="POST" action="http://127.0.0.1:1237/">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.email.label(class = "form-control-label")}}
                    {{form.email(class = "form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{form.password.label(class = "form-control-label")}}
                    {{form.password(class = "form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class = "btn btn-outline-info")}}                    
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
